# Assignment 3 Solutions <img style = "position:absolute; TOP:0px; LEFT:840px; WIDTH:250px; HEIGHT:65px"  src ="https://drive.google.com/uc?export=view&id=1EnB0x-fdqMp6I5iMoEBBEuxB_s7AmE2k" />

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (10.0, 8.0)

Populating the interactive namespace from numpy and matplotlib

## Assignment 3

1. Which model of aircraft flew the most flights out of New York in 2013?

2.  The file `customer_data.csv` contains some data on the business customers of a large telecommunications firm. The columns are specified as follows:
 * INDUSTRY: the customer's industry
 * EMP: the number of employees that work at the business
 * ANNUAL_SALES: the business's annual sales
 * STATE: the location of the business headquarters
 * MOBILITY: the amount the customer has spent on mobility products (cell phones, tablets, etc.) in the last 12 months
 * INTERNET: the amount the customer has spent on Internet products in the last 12 months.

Import the file and answer the following questions.

1. The marketing department would like to target a campaign to medium sized (100â€“999 Employees) customers who are in either Education or Food Services, and who currently spend less than \\$5000 total per year on all services. Create a boolean column called INCLUDE that indicates whether the customer on that row should be included in the campaign.
3. How many customers are in the campaign?
4. Pandas has a function called crosstab which prints cross tabulations of categorical variables. Use the crosstab function to determine how many customers in each industry and state are included in the campaign.
5. Create a file called customerids.csv that contains only a list of CUSTOMER_IDs to be included in the campaign.

## 1.

In [ ]:
flights = pd.read_csv('data/flights.csv')
planes = pd.read_csv('data/planes.csv')

#Join the datasets together based on tailnum. 
#Using a right join discards any flights that didn't have a matching plane. 
#This is fine as we can't use flights where we don't know the model of the aircraft
detailed_flights = pd.merge(flights, planes, how='right', on='tailnum')

#Group the flights by their model number and count how many flights there are for each model
flights_by_model = detailed_flights.groupby('model')
flight_count_by_model = flights_by_model.size()
flight_count_by_model

model
150                     2
172E                    1
172M                    2
172N                    4
206B                    1
210-5(205)              1
230                     1
310Q                    1
421C                    1
550                     1
60                      1
65-A90                  2
717-200               119
737-301                 2
737-317                 1
737-3A4                 1
737-3G7                 2
737-3H4               107
737-3K2                 2
737-3L9                 2
737-3Q8                 5
737-3T5                 1
737-3TO                 2
737-3Y0                 1
737-401                 5
737-4B7                18
737-524                 1
737-5H4                15
737-705                 2
737-724               162
                     ...
CL-600-2B19           334
CL-600-2C10           280
CL-600-2D24           420
DC-7BF                  1
DC-9-51                 9
DC-9-82(MD-82)         97
DC-9-83(MD-83)         38
E-90                    1
EMB-145                11
EMB-145LR             853
EMB-145XR             399
ERJ 190-100 IGW       689
FALCON XP               8
FALCON-XP               5
G-IV                    1
G1159B                 18
KITFOX IV               3
MD-88                 329
MD-90-30               41
MYSTERE FALCON 900      1
OTTER DHC-3             1
PA-28-180               4
PA-31-350               3
PA-32R-300              1
PA-32RT-300             1
R66                     9
S-76A                   1
SR22                    8
VANS AIRCRAFT RV6       1
ZODIAC 601HDS          11
Length: 127, dtype: int64

In [ ]:
#Find the index (model) with the most flights
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.idxmax.html
flight_count_by_model.idxmax()

'A320-232'

## 2.1.

In [ ]:
df = pd.read_csv('customer_info.csv')

In [ ]:
df["INCLUDE"] = (df["EMP"] >= 100) & (df["EMP"] < 1000) & (df["INDUSTRY"].isin(["Food Services", "Education"])) \
& (df["MOBILITY"] + df["INTERNET"] <= 5000)

In [ ]:
df.head()

,CUSTOMER_ID,INDUSTRY,EMP,ANNUAL_SALES,PROVINCE,MOBILITY,INTERNET,INCLUDE
0,129078,Finance and Insurance,36.0,NaN,AB,10192.825459,699.539869,False
1,128424,Construction,261.0,10675108.0,BC,17367.492873,1907.819410,False
2,125960,Finance and Insurance,10.0,756786.0,AB,6162.609229,1789.017919,False
3,120981,Construction,31.0,1223808.0,BC,19176.373541,2123.016418,False
4,129251,Education,NaN,1148650.0,AB,1538.194116,1620.096543,False

## 2.2.

In [ ]:
# We can do this in a few ways.  One is to find the length of the sub-dataframe where INCLUDE is True.
len(df[df['INCLUDE']==True])

88

In [ ]:
# But we also remember that True has the value of 1, so we can just sum the column:
sum(df.INCLUDE)

88

## 2.3.

From the documentation:<br>
`  pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, dropna=True, normalize=False) `

*Compute a simple cross-tabulation of two (or more) factors. By default computes a frequency table of the factors unless an array of values and an aggregation function are passed.*

So the only thing we have to pass it is the index, and the columns.

In [ ]:
pd.crosstab(df[df["INCLUDE"]==True]["INDUSTRY"], df[df["INCLUDE"]==True]["STATE"])

PROVINCE       AB  BC
INDUSTRY
Education      12   9
Food Services  34  33

Notice here that we cut out all of the lines we want in `INDUSTRY` and `PROVINCE` by first calling the subset dataframe where `df['INCLUDE']==True`.  (In fact, we only actually need to call `df[df['INCLUDE]]`, because it's a Boolean column.)

## 2.4.

In [ ]:
df[df["INCLUDE"]]["CUSTOMER_ID"].to_csv("customerids.csv", index=False)

<div id="container" style="position:relative;">
<div style="position:relative; float:right"><img style="height:25px""width: 50px" src ="https://drive.google.com/uc?export=view&id=14VoXUJftgptWtdNhtNYVm6cjVmEWpki1" />
</div>